*, ::after, ::before {
    box-sizing: border-box;
}
main {
    background-color: #fff;
    width: 35vw;
    height: 35vh;
    border-radius: 5px;
    margin: 35vh 0 0 35vw;
    text-align: center;
}
p {
    padding-top: 2vh;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
input.inputs {
    border: 1px solid black;
    height: 5vh;
    width: 15vw;
    border-radius: 5px;
}
.security-indicator {
    height: 10px;
    width: 43%;
    background-color: #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 10vw;
}

.security-indicator .bar {
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s;
}
.security-indicator .bar.completed {
    border-top-right-radius: 0;
}

.security-indicator .bar.critical {
    background-color: #eb5757;
    width: 10%;
}
.security-indicator .bar.good {
    background-color: #00ff00;
    width: 35%;
}
.security-indicator .bar.safe {
    background-color: #29c429; 
    width: 70%;
}
.security-indicator .bar.strong {
    background-color: #038f00;
    width: 100%;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}
.labels {
    transition: all 200ms;
}
.deactivated {
    color: #ff0000;
    font-size: 12px;
}
.activated {
    color: #00ff00;
    font-size: 12px;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
@media only screen and (max-device-width: 480px) {
main {
    background-color: #fff;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
    margin: 35vh 0 0 10px;
}
input.inputs {
    height: 50px;
    width: 200px;
}
.security-indicator {
    height: 10px;
    width: 50%;
    margin-left: 100px;
}
}